<div class="card-container">
  <h1 class="heading-card text-center">Meet the Team</h1>

  <div class="card-wrapper">
    <!-- Tubu -->
    <div class="card">
      <img
        src="assets/img/card-bg.jpg"
        alt="card background"
        class="card-img"
      />
      <img
        src="assets/img/profile/me.jpeg"
        alt="profile image"
        class="profile-img"
      />
      <h1>Shubhranil Dutta</h1>
      <p class="job-title">Lead Developer</p>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/alpha.037/" target="blank"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="mailto:subhronil.dutta@gmail.com"
            ><i class="fab fa-google-plus-square"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/subhranil_dutta/" target="blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/alpha037" target="blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>

    <!-- Simran -->
    <div class="card">
      <img
        src="assets/img/card-bg.jpg"
        alt="card background"
        class="card-img"
      />
      <img
        src="assets/img/profile/seemo.jpeg"
        alt="profile image"
        class="profile-img"
      />
      <h1>Simran Aktar</h1>
      <p class="job-title">Assistant Developer</p>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/seemo033" target="blank"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="mailto:annasimmi03@gmail.com"
            ><i class="fab fa-google-plus-square"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/seemo713/" target="blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/seemo-33" target="blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>

    <!-- Purbita -->
    <div class="card">
      <img
        src="assets/img/card-bg.jpg"
        alt="card background"
        class="card-img"
      />
      <img
        src="assets/img/profile/poobie.jpeg"
        alt="profile image"
        class="profile-img"
      />
      <h1>Purbita Saha</h1>
      <p class="job-title">Assistant Developer</p>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/aparajita.saha.56" target="blank"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="mailto:purbitasaha0907@gmail.com" target="blank"
            ><i class="fab fa-google-plus-square"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/purbita_saha/" target="blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/purbitasaha" target="blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>

    <!-- Pabitra -->
    <div class="card">
      <img
        src="assets/img/card-bg.jpg"
        alt="card background"
        class="card-img"
      />
      <img
        src="assets/img/profile/dhanno.jpeg"
        alt=" profile image"
        class="profile-img"
      />
      <h1>Pabitra Pal</h1>
      <p class="job-title">Assistant Developer</p>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/SHARON339" target="blank"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="mailto:palpabitra339@gmail.com"
            ><i class="fab fa-google-plus-square"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/_pabitrapal_/" target="blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Sharonizzer" target="blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>

    <!-- Udit -->
    <div class="card">
      <img
        src="assets/img/card-bg.jpg"
        alt="card background"
        class="card-img"
      />
      <img
        src="assets/img/profile/kochi.jpg"
        alt="profile image"
        class="profile-img"
      />
      <h1>Udit Mukherjee</h1>
      <p class="job-title">Assistant Developer</p>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/udit.mukherjee.507" target="blank"
            ><i class="fab fa-facebook-square"></i
          ></a>
        </li>
        <li>
          <a href="mailto:uditmukherjee150@gmail.com"
            ><i class="fab fa-google-plus-square"></i
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/uditmukherjee150/" target="blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/uditmukherjee150" target="blank"
            ><i class="fab fa-github"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
